- wrap_layout :layout do
  .container
    .blog-post-title
      %h2.blog-title
        %a.blog-title(href="#{data.page.url}")= data.page.title

    .blog-post-meta
      = "Posted by #{data.page.author} on #{Date.parse(data.page.date).inspect}"

    .row
      .col-sm-8
        = preserve do
          = yield
