<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title><%= data.page.title || "Opal: Ruby to Javascript compiler" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <%= partial 'header' %>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav opal-sidebar">
        <% data.docs.each do |item| %>
          <li>
            <%= link_to item.title, item.url %>
            <% if item.children %>
              <ul class="nav">
              <% item.children.each do |child| %>
                <li><%= link_to child.title, child.url %></li>
              <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>

      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= partial 'footer' %>

  <script>
    $('a[href="'+location.pathname.replace(/\/$/,'')+'"]').parent('li').addClass('active')
  </script>
</body>
</html>
